.header {
  min-height: 100vh;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  place-content: center;
  gap: 1rem;
}

.header :where(.container) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.header :where(.container) img {
  aspect-ratio: 1/1;
  width: clamp(50px, 90vw, 200px);
  border-radius: 50%;
  box-shadow: var(--card-shadow);
  filter: drop-shadow(100px 100px 10rem rgba(255, 0, 0, 0.5))
    drop-shadow(-100px -100px 10rem rgba(0, 0, 255, 0.5));
}

.header :where(.container) h1 {
  text-align: center;
}
.header :where(.container) > .description {
  text-align: center;
}
.header :where(.container) .buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 999;
}
.header :where(.container) .buttons > button {
  flex-grow: 1;
}
.header :where(.container) .buttons > button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
  min-width: clamp(50px, 90vw, 145.85px);
  flex-grow: 1;
}

.header :where(.container) .buttons > button > a > span {
}

.header :where(.container) .buttons > .about-btn a {
  /* transition: 0.2s; */
}
.header :where(.container) .buttons > .about-btn a:hover {
  background-color: var(--about-btn-bg-hover);
  border-color: var(--about-btn-bg-hover);
  color: var(--color-hover);
  transform: translateY(-3px);
}
.header :where(.container) .buttons > .download-btn a {
  border-color: orangered;
  background-color: orangered;
  color: white;
}
.header :where(.container) .buttons > .download-btn a:hover {
  background-color: var(--download-btn-bg-hover);
  border-color: var(--download-btn-bg-hover);
  color: var(--download-color-hover);
  transform: translateY(-3px);
}
