@import "tailwindcss";

.header {
  @apply flex flex-wrap-reverse place-content-center;
  @apply min-h-screen;
  /* padding-top: 56px; */
}

.header :where(.container) {
  @apply flex items-start justify-center flex-col;
  @apply p-4 w-auto h-auto;
}

.header :where(.buttons) {
  @apply flex items-center justify-center gap-4 flex-wrap;
  button {
    @apply py-1 px-2 border rounded-xs transition-all;
    a {
      @apply flex items-center justify-center;
    }
  }
  button:nth-child(1):hover {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    transform: translateY(-3px);
    box-shadow: var(--card-shadow);
    @apply animate-pulse;
  }
  button:nth-child(2):hover {
    background-color: var(--subject-color);
    color: white;
    border-color: var(--subject-color);
    transform: translateY(-3px);
    box-shadow: var(--card-shadow);
    @apply animate-pulse;
  }
}

.header :is(img) {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
  width: clamp(1px, 90vw, 300px);

  box-shadow: var(--card-shadow);

  animation: bounceee 2s ease 0s infinite normal none;
}

@keyframes bounceee {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media screen and (max-width: 768px) {
  .header :where(.container) {
    align-items: center;
    justify-content: center;
  }

  .header :where(.container) .buttons {
    width: 100%;
  }
  .header :where(.container) h1 {
    width: 100%;
    text-align: center;
  }
  .header :where(.container) .description {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  button {
    flex-grow: 1;
  }
}
