.contact {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  padding-top: 68px;
  place-content: center;

  /* scroll-snap-align: start; */
}
.contact :where(h1) {
}
.contact :where(.content) {
  display: flex;
  flex-flow: row wrap-reverse;
  width: clamp(100px, 90vw, 1024px);
  place-content: center;
}
.contact :where(.content) > .container {
  aspect-ratio: 1/1;
  width: clamp(50px, 90vw, 400px);
  padding: 1rem;

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact :where(.content) > .container > .contact-details {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  /* gap: 1rem; */
}
.contact :where(.content) > .container > .contact-details > li {
  border-radius: 4px;
}
.contact :where(.content) > .container > .contact-details > li:hover {
  background-color: var(--link-bg-hover);
}
.contact :where(.content) > .container > .contact-details > li > a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.contact :where(.content) > .container > .contact-details > li > span {
}
.contact :where(.content) > .container > .contact-details > li > address {
}

/* social links */
.contact :where(.content) > .container > .social-links {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact :where(.content) > .container > .social-links > li {
  position: relative;
}
.contact
  :where(.content)
  > .container
  > .social-links
  > li:nth-child(1):hover::before {
  content: "Github";
  position: absolute;
  top: -45px;
  background-color: var(--link-bg-hover);
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 999;
}
.contact
  :where(.content)
  > .container
  > .social-links
  > li:nth-child(2):hover::before {
  content: "Facebook";
  position: absolute;
  top: -45px;
  background-color: var(--link-bg-hover);
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 999;
}
.contact
  :where(.content)
  > .container
  > .social-links
  > li:nth-child(3):hover::before {
  content: "Instagram";
  position: absolute;
  top: -45px;
  background-color: var(--link-bg-hover);
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 999;
}
.contact :where(.content) > .container > .social-links > li > a {
  display: flex;
  padding: 1rem;
  border-radius: 4px;
}
.contact :where(.content) > .container > .social-links > li > a:hover {
  background-color: var(--link-bg-hover);
  transform: translateY(-2px);
}
.contact :where(.content) > .container > .social-links > li > a > img {
  aspect-ratio: 1/1;
  width: 20px;
}
.contact :where(.content) > .container > .map {
  aspect-ratio: 1/1;
  width: clamp(50px, 90vw, calc(400px - 1rem));
  box-shadow: var(--card-shadow);
}
