:root {
  color-scheme: light dark;
  color: white;
  background-color: var(--color-zinc-800);

  /* variables */
  --card-shadow: 0 20px 50px -20px black;
  --link-bg-hover: rgba(255, 255, 255, 0.05);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light light;
    color: var(--color-zinc-800);
    background-color: white;

    /* variables */
    --card-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.3);
    --link-bg-hover: rgba(0, 0, 0, 0.05);
  }
}
