/* ? card */
.animated-container {
  position: relative;
  perspective: 1500px;

  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(3, 1fr);

  transform: scale(0.9);
}
.animated-container .card-box {
  z-index: 101;
}
.animated-container .card-box ~ .about-profile {
  transition: 0.5s;
}
.animated-container .tl:hover ~ .about-profile {
  transform: rotateX(-20deg) rotateY(20deg) scale(1.1);
}
.animated-container .t:hover ~ .about-profile {
  transform: rotateX(-30deg) rotateY(0) scale(1.1);
}
.animated-container .tr:hover ~ .about-profile {
  transform: rotateX(-20deg) rotateY(-20deg) scale(1.1);
}
.animated-container .l:hover ~ .about-profile {
  transform: rotateX(0) rotateY(30deg) scale(1.1);
}
.animated-container .c:hover ~ .about-profile {
  transform: scale(1.1);
}
.animated-container .r:hover ~ .about-profile {
  transform: rotateX(0) rotateY(-30deg) scale(1.1);
}
.animated-container .bl:hover ~ .about-profile {
  transform: rotateX(20deg) rotateY(20deg) scale(1.1);
}
.animated-container .b:hover ~ .about-profile {
  transform: rotateX(30deg) rotateY(0) scale(1.1);
}
.animated-container .br:hover ~ .about-profile {
  transform: rotateX(20deg) rotateY(-20deg) scale(1.1);
}

.animated-container .about-profile {
  position: absolute;
  top: 0;
  z-index: 100;

  aspect-ratio: 1/1;
  width: clamp(1px, 90vw, 500px);
  object-fit: contain;
  border-radius: 16px;
  box-shadow: var(--card-shadow);

  justify-self: center;
}
