.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  padding-top: 86px;
  place-content: center;
}
.about :where(.container) {
  aspect-ratio: 1/1;
  width: clamp(100px, 90vw, 500px);

  display: flex;
  flex-flow: column nowrap;
  align-items: start;

  padding: 1rem;
}
.about :where(.container) img {
  aspect-ratio: 1/1;
  width: clamp(100px, 90vw, 500px);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}
.about :where(.container) h4 {
  text-align: center;
}
.about :where(.container) .description {
  text-indent: 1rem;
  text-align: justify;
}
.about :where(.container) .description > q {
}
