.about {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  padding: 1rem;
  padding-top: 68px;
  align-items: start;
  justify-content: center;
  /* place-content: center; */
}
.about :where(.container) {
  width: clamp(100px, 90vw, 500px);
  padding: 1rem;
}
.about :where(.about-container-content) {
  padding: 2.5rem;
  /* flex-grow: 1; */
}

/*  */
.about :where(.container) h4 {
}
.about :where(.container) .description {
  text-align: justify;
  text-indent: 1rem;
}
.about :where(.container) .description > q {
}
