.skills {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  width: clamp(100px, 90vw, 1400px);
  margin: auto;
  padding: 1rem;
  padding-top: 68px;
}
.skills :where(h3) {
  text-align: center;
}
.skills :where(.skills-list) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.skills :where(.skills-list) li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
}
.skills :where(.skills-list) li:hover {
  background-color: var(--link-bg-hover);
}
.skills :where(.skills-list) li > img {
  aspect-ratio: 1/1;
  width: clamp(1px, 90vw, 70px);
}
.skills :where(.skills-list) li:hover > img {
  filter: drop-shadow(0 0 1rem white);
}
.skills :where(.skills-list) li > p {
}
