.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  background-color: var(--nav-bg);
}

.navigation :where(.logo) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation :where(.logo) li {
}
.navigation :where(.logo) li > a {
  display: flex;
  padding: 1rem 2rem;
  font-size: clamp(1px, 8vw, 1.5rem);
}
.navigation :where(.logo) li > a > b {
  color: orangered;
}
.navigation :where(.links) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation :where(.links) li {
}
.navigation :where(.links) li > a {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
}
.navigation :where(.links) li > a:hover {
  background-color: var(--link-bg-hover);
}
.navigation :where(.links) li:nth-child(6) > a {
  margin-right: 1rem;
}
.navigation :where(.menu-links) {
  display: none;
}
.navigation :where(.menu-links) .dropdown {
}
.navigation :where(.menu-links) .dropdown > span {
  display: flex;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 8px;
}
.navigation :where(.menu-links) .dropdown > span:hover {
  background-color: var(--link-bg-hover);
}
.navigation :where(.menu-links) .content {
  display: flex;
  flex-flow: column nowrap;
  width: 0;

  position: absolute;
  top: 68px;
  right: 0;
  z-index: 1000;
  background-color: var(--nav-bg);
  height: 100vh;
}
.navigation :where(.menu-links) .content > li {
}
.navigation :where(.menu-links) .content > li > a {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.navigation :where(.menu-links) .content > li:hover > a {
  background-color: var(--link-bg-hover);
}

@media screen and (max-width: 768px) {
  .navigation :where(.links) {
    display: none;
  }
  .navigation :where(.menu-links) {
    display: flex;
  }
}
