/*  */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*  */
.navigation :where(.logo) {
}
.navigation :where(.logo) li {
}
.navigation :where(.logo) li > a {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.navigation :where(.logo) li > a > b {
  color: orangered;
}

/*  */
.navigation :where(.links) {
  display: flex;
}
.navigation :where(.links) li {
  position: relative;
}

/* ? nav-about-link-content */
.navigation :where(.links) li:nth-child(2):hover .nav-about-link-content {
  display: block;
}
.navigation :where(.links) li > .nav-about-link-content {
  position: absolute;
  display: none;
  box-shadow: var(--card-shadow);
  border-radius: 0.5rem;
  background-color: var(--link-bg-hover);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(5px);
}

.navigation :where(.links) li > a {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  border-radius: 8px;
}
.navigation :where(.links) li > a:hover {
  background-color: var(--link-bg-hover);
}
.navigation :where(.links) li > a > p {
}

/*  */
.navigation :where(.menu-links) {
  display: none;
}
.navigation :where(.menu-links) li {
}
.navigation :where(.menu-links) li > span {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 8px;
}
.navigation :where(.menu-links) li > span:hover {
  background-color: var(--link-bg-hover);
}

/* ? nav-about-link-content */
.navigation :where(.menu-links) li:nth-child(2):hover .nav-about-link-content {
  height: 225px;
}
.navigation :where(.menu-links) li > .nav-about-link-content {
  height: 0;
  overflow: hidden;
  background-color: var(--link-bg-hover);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(5px);
  transition: 1s;
}
.navigation :where(.menu-links) li > .nav-about-link-content > ul {
}
.navigation :where(.menu-links) li > .nav-about-link-content > ul > li {
}
.navigation :where(.menu-links) li > .nav-about-link-content > ul > li > a {
  display: flex;
  padding: 1rem 2rem;
}
.navigation
  :where(.menu-links)
  li
  > .nav-about-link-content
  > ul
  > li
  > a:hover {
  background-color: var(--link-bg-hover);
}

.navigation :where(.menu-links) .content {
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  background-color: var(--nav-bg);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  z-index: 1000;
}
.navigation :where(.menu-links) .content > li {
}
.navigation :where(.menu-links) .content > li > a {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 2rem;
}
.navigation :where(.menu-links) .content > li > a:hover {
  background-color: var(--link-bg-hover);
}
.navigation :where(.menu-links) .content > li > a > p {
}

@media screen and (max-width: 768px) {
  .navigation :where(.links) {
    display: none;
  }
  .navigation :where(.menu-links) {
    display: block;
  }
}
