@import "tailwindcss";

.footer {
  padding: 1rem;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.05);

  @apply flex items-center justify-center;
  p {
    color: grey;
    text-align: center;
  }
}
