@import "tailwindcss";

.expertise {
  @apply flex flex-col items-center justify-center gap-4;
  @apply min-h-screen;
  padding-top: 56px;
}

.expertise :where(.container) {
  @apply flex flex-wrap items-start justify-center gap-4;
}

.expertise :where(.container) .offer {
  @apply flex flex-col justify-between gap-4;
  @apply border p-4;
  border-radius: 8px;
  aspect-ratio: 1/1;
  width: clamp(100px, 90vw, 300px);
}

.expertise :where(.container) .learn-more-link {
  @apply p-2 border w-fit;
  border-radius: 4px;
}
